name: app-build-action
# 添加手动触发和简单的推送触发
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  build-tv:
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"

      - name: Flutter action
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.x"
          cache: true

      - name: Restore packages
        run: |
          cd simple_live_tv_app
          flutter pub get

      - name: Build APK
        run: |
          cd simple_live_tv_app
          # 移除签名限制，直接编译 release
          flutter build apk --release --split-per-abi

      - name: Upload APK to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android_tv_apks
          path: simple_live_tv_app/build/app/outputs/flutter-apk/*.apk
