name: app-build-action
on:
  workflow_dispatch:
  push:
    branches: [main, master]

jobs:
  build-tv:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"
      - name: Flutter action
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.x"
          cache: true

      - name: Restore packages
        run: |
          cd simple_live_tv_app
          flutter pub get

      - name: Build APK
        run: |
          cd simple_live_tv_app
          # 关键修复：防止 Gradle 找不到签名配置而报错
          mkdir -p android
          echo "storeFile=fake" > android/key.properties
          echo "storePassword=fake" >> android/key.properties
          echo "keyPassword=fake" >> android/key.properties
          echo "keyAlias=fake" >> android/key.properties
          
          # 编译 debug 版，绕过所有签名校验
          flutter build apk --debug --split-per-abi

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: android_tv_debug_apk
          path: simple_live_tv_app/build/app/outputs/flutter-apk/*.apk
